* {
    margin: 0;
    padding: 0;
}
body {
    margin-top: 2rem;
    background-color: #D2E3FD;
}
#home {
    border-bottom: 1px solid #17528a;
}
.d1 {
    box-sizing: border-box;
    margin-left: 5rem;
    width: 80vw;
    display: flex;
}
.texto {
    width: 70%;
    border-radius: 0;
}
h1 {
    font-size: 40px;
    color: #17528a;
    padding-bottom: ;
}
.MeuNome {
    color: #60A2DE;
}
h3 {
    padding-top: 20px;
    font-size: 25px;
    color: #17528a;
}
.eu {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
.botoes {
    padding-left: 4rem;
    padding-bottom: 3rem;
}
a img {
    width: 40px;
    height: 40px;
    padding: 8px 8px;
    background-color: #9CC6EE;
    border-radius: 50%;
}
a {
    opacity: 1;
}
a:hover {
    opacity: 0.8;
}
#Formação {
    padding-top: 3rem;
    border-bottom: 1px solid #17528a;
}
ul {
    padding-left: 5rem;
    padding-top: 10px;
    list-style-type: none;
    font-size: 25px;
    color: #17528a;
    padding-bottom: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.titulo {
    margin-left: 5rem;
    letter-spacing: 2px;
}
#Experiência {
    padding-top: 3rem;
    border-bottom: 1px solid #17528a;
}
#Habilidades {
    padding-top: 3rem;
    border-bottom: 1px solid #17528a;
}
.imagens {
    padding-left: 5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.logos {
    width: 150px;
    height: 150px;
}
#Projetos {
    padding-top: 3rem;
    border-bottom: 1px solid #17528a;
}
.linkgithub {
    font-size: 25px;
    color: #17528a;
    padding-bottom: 3rem;
    padding-left: 5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.GitHub{
    text-decoration: underline;
}
#Contato {
    padding-top: 3rem;
    border-bottom: 1px solid #17528a;
}
.linkcontato {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: transparent;
    width: 100px;
    height: 100px;
    border-radius: 0;
    margin-left: 50px;
}